@import "base/variables";
@import "base/mq";
@import "base/typo";
@import "components/buttons";
@import "components/header";
@import "components/hero";
@import "components/portfolio";
@import "components/experience";
@import "components/divers";

body {
  background: #fff;
  font-family: "OpenSansRegular";
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.row {
  max-width: 62.5em;
  margin: 0 auto;
  width: 100%;
  display : flex;
  flex-wrap : wrap;
  justify-content: center;
  h2 {
    flex-basis: 100%;
    flex : 0 0 100%
  }
}

.column, .columns {
  position: relative;
  padding-left: .9375em;
  padding-right: .9375em;
}

article {
  margin: 0 auto;
  padding: 30px 0;
}


/* Liste icone */
.big_icons {
  text-align: center;
  display : flex;
  width: 100%;

  p {
    clear: both;
    display: block;
    margin-top: 20px;
  }

  a {
    width: 33%;
    height: 33%;
    font-size: 4em;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor : pointer;
    transition: all 1s;
    &:hover  {
      color : $secondary
    }
  }
}

ul li ul li {
  text-align: left;
  list-style: square;
  padding: 5px;
}

.center {
  text-align: center;
}

.superbig {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 80px;
  color: #fff;
  text-align: center;
  display: block;
  background: $secondary;
  border-radius: 50%;
}

.lighter {
  background: #f1f1f2;
}

.icons-grid {
  display : flex;
  i {
    flex-basis: 25%;
    font-size: 3rem;
    color: $secondary
  }
}
