h1 {
  color: #656565;
  font-family: "OpenSansLight";
  font-size: 5em; }

h1 b {
  font-family: "OpenSansRegular"; }

h2 {
  color: #23b27e;
  font-family: "OpenSansLight";
  font-size: 3em;
  text-transform: uppercase;
  text-align: center; }

h2 span {
  padding: 0.5em; }

h3 {
  font-size: 1.5em; }

p {
  color: #656565;
  font-family: "OpenSansLight"; }

a {
  color: #23b27e; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  font-size: 100%; }

body {
  background: #fff;
  color: #656565;
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default; }

a:hover {
  cursor: pointer; }

a:focus {
  outline: none; }

img, object, embed {
  max-width: 100%;
  height: auto; }

object, embed {
  height: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img, #map_canvas embed, #map_canvas object,
.map_canvas img, .map_canvas embed, .map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.row.collapse .column, .row.collapse .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left; }

.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1; }

.row .row:before,
.row .row:after {
  content: " ";
  display: table; }

.row .row:after {
  clear: both; }

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1; }

.row .column, .columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left; }

@media only screen {
  .column, .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }
  .small-1 {
    position: relative;
    width: 8.33333%; }
  .small-2 {
    position: relative;
    width: 16.66667%; }
  .small-3 {
    position: relative;
    width: 25%; }
  .small-4 {
    position: relative;
    width: 33.33333%; }
  .small-5 {
    position: relative;
    width: 41.66667%; }
  .small-6 {
    position: relative;
    width: 50%; }
  .small-7 {
    position: relative;
    width: 58.33333%; }
  .small-8 {
    position: relative;
    width: 66.66667%; }
  .small-9 {
    position: relative;
    width: 75%; }
  .small-10 {
    position: relative;
    width: 83.33333%; }
  .small-11 {
    position: relative;
    width: 91.66667%; }
  .small-12 {
    position: relative;
    width: 100%; }
  .small-offset-0 {
    position: relative;
    margin-left: 0%; }
  .small-offset-1 {
    position: relative;
    margin-left: 8.33333%; }
  .small-offset-2 {
    position: relative;
    margin-left: 16.66667%; }
  .small-offset-3 {
    position: relative;
    margin-left: 25%; }
  .small-offset-4 {
    position: relative;
    margin-left: 33.33333%; }
  .small-offset-5 {
    position: relative;
    margin-left: 41.66667%; }
  .small-offset-6 {
    position: relative;
    margin-left: 50%; }
  .small-offset-7 {
    position: relative;
    margin-left: 58.33333%; }
  .small-offset-8 {
    position: relative;
    margin-left: 66.66667%; }
  .small-offset-9 {
    position: relative;
    margin-left: 75%; }
  .small-offset-10 {
    position: relative;
    margin-left: 83.33333%; }
  [class*="column"] + [class*="column"]:last-child {
    float: right; }
  [class*="column"] + [class*="column"]
.column.small-centered,
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; } }

@media only screen and (min-width: 768px) {
  .large-1 {
    position: relative;
    width: 8.33333%; }
  .large-2 {
    position: relative;
    width: 16.66667%; }
  .large-3 {
    position: relative;
    width: 25%; }
  .large-4 {
    position: relative;
    width: 33.33333%; }
  .large-5 {
    position: relative;
    width: 41.66667%; }
  .large-6 {
    position: relative;
    width: 50%; }
  .large-7 {
    position: relative;
    width: 58.33333%; }
  .large-8 {
    position: relative;
    width: 66.66667%; }
  .large-9 {
    position: relative;
    width: 75%; }
  .large-10 {
    position: relative;
    width: 83.33333%; }
  .large-11 {
    position: relative;
    width: 91.66667%; }
  .large-12 {
    position: relative;
    width: 100%; } }

@media only screen and (min-width: 768px) {
  .show-for-medium, .show-for-medium-up {
    display: inherit !important; }
  .show-for-small {
    display: none !important; }
  .hide-for-small {
    display: inherit !important; }
  .hide-for-medium, .hide-for-medium-up {
    display: none !important; }
  table.show-for-medium, table.show-for-medium-up, table.hide-for-small {
    display: table; }
  thead.show-for-medium, thead.show-for-medium-up, thead.hide-for-small {
    display: table-header-group !important; }
  tbody.show-for-medium, tbody.show-for-medium-up, tbody.hide-for-small {
    display: table-row-group !important; }
  tr.show-for-medium, tr.show-for-medium-up, tr.hide-for-small {
    display: table-row !important; }
  td.show-for-medium, td.show-for-medium-up, td.hide-for-small, th.show-for-medium, th.show-for-medium-up, th.hide-for-small {
    display: table-cell !important; } }

@media only screen and (min-width: 1280px) {
  .show-for-large, .show-for-large-up {
    display: inherit !important; }
  .show-for-medium, .show-for-medium-down {
    display: none !important; }
  .hide-for-medium, .hide-for-medium-down {
    display: inherit !important; }
  .hide-for-large, .hide-for-large-up {
    display: none !important; }
  table.show-for-large, table.show-for-large-up, table.hide-for-medium, table.hide-for-medium-down {
    display: table; }
  thead.show-for-large, thead.show-for-large-up, thead.hide-for-medium, thead.hide-for-medium-down {
    display: table-header-group !important; }
  tbody.show-for-large, tbody.show-for-large-up, tbody.hide-for-medium, tbody.hide-for-medium-down {
    display: table-row-group !important; }
  tr.show-for-large, tr.show-for-large-up, tr.hide-for-medium, tr.hide-for-medium-down {
    display: table-row !important; }
  td.show-for-large, td.show-for-large-up, td.hide-for-medium, td.hide-for-medium-down, th.show-for-large, th.show-for-large-up, th.hide-for-medium, th.hide-for-medium-down {
    display: table-cell !important; } }

@media only screen and (min-width: 1440px) {
  .show-for-xlarge {
    display: inherit !important; }
  .show-for-large, .show-for-large-down {
    display: none !important; }
  .hide-for-large, .hide-for-large-down {
    display: inherit !important; }
  .hide-for-xlarge {
    display: none !important; }
  table.show-for-xlarge, table.hide-for-large, table.hide-for-large-down {
    display: table; }
  thead.show-for-xlarge, thead.hide-for-large, thead.hide-for-large-down {
    display: table-header-group !important; }
  tbody.show-for-xlarge, tbody.hide-for-large, tbody.hide-for-large-down {
    display: table-row-group !important; }
  tr.show-for-xlarge, tr.hide-for-large, tr.hide-for-large-down {
    display: table-row !important; }
  td.show-for-xlarge, td.hide-for-large, td.hide-for-large-down, th.show-for-xlarge, th.hide-for-large, th.hide-for-large-down {
    display: table-cell !important; } }

.show-for-landscape, .hide-for-portrait {
  display: inherit !important; }

.hide-for-landscape, .show-for-portrait {
  display: none !important; }

table.hide-for-landscape, table.show-for-portrait {
  display: table; }

thead.hide-for-landscape, thead.show-for-portrait {
  display: table-header-group !important; }

tbody.hide-for-landscape, tbody.show-for-portrait {
  display: table-row-group !important; }

tr.hide-for-landscape, tr.show-for-portrait {
  display: table-row !important; }

td.hide-for-landscape, td.show-for-portrait, th.hide-for-landscape, th.show-for-portrait {
  display: table-cell !important; }

@media only screen and (orientation: landscape) {
  .show-for-landscape, .hide-for-portrait {
    display: inherit !important; }
  .hide-for-landscape, .show-for-portrait {
    display: none !important; }
  table.show-for-landscape, table.hide-for-portrait {
    display: table; }
  thead.show-for-landscape, thead.hide-for-portrait {
    display: table-header-group !important; }
  tbody.show-for-landscape, tbody.hide-for-portrait {
    display: table-row-group !important; }
  tr.show-for-landscape, tr.hide-for-portrait {
    display: table-row !important; }
  td.show-for-landscape, td.hide-for-portrait, th.show-for-landscape, th.hide-for-portrait {
    display: table-cell !important; } }

@media only screen and (orientation: portrait) {
  .show-for-portrait, .hide-for-landscape {
    display: inherit !important; }
  .hide-for-portrait, .show-for-landscape {
    display: none !important; }
  table.show-for-portrait, table.hide-for-landscape {
    display: table; }
  thead.show-for-portrait, thead.hide-for-landscape {
    display: table-header-group !important; }
  tbody.show-for-portrait, tbody.hide-for-landscape {
    display: table-row-group !important; }
  tr.show-for-portrait, tr.hide-for-landscape {
    display: table-row !important; }
  td.show-for-portrait, td.hide-for-landscape, th.show-for-portrait, th.hide-for-landscape {
    display: table-cell !important; } }

.show-for-touch {
  display: none !important; }

.hide-for-touch {
  display: inherit !important; }

.touch .show-for-touch {
  display: inherit !important; }

.touch .hide-for-touch {
  display: none !important; }

table.hide-for-touch {
  display: table; }

.touch table.show-for-touch {
  display: table; }

thead.hide-for-touch {
  display: table-header-group !important; }

.touch thead.show-for-touch {
  display: table-header-group !important; }

tbody.hide-for-touch {
  display: table-row-group !important; }

.touch tbody.show-for-touch {
  display: table-row-group !important; }

tr.hide-for-touch {
  display: table-row !important; }

.touch tr.show-for-touch {
  display: table-row !important; }

td.hide-for-touch {
  display: table-cell !important; }

.touch td.show-for-touch {
  display: table-cell !important; }

th.hide-for-touch {
  display: table-cell !important; }

.touch th.show-for-touch {
  display: table-cell !important; }

@media only screen {
  [class*="block-grid-"] {
    display: block;
    padding: 0;
    margin: 0 -0.625em;
    *zoom: 1; }
  [class*="block-grid-"]:before, [class*="block-grid-"]:after {
    content: " ";
    display: table; }
  [class*="block-grid-"]:after {
    clear: both; }
  [class*="block-grid-"] > li {
    display: inline;
    height: auto;
    float: left;
    padding: 0 0.625em 1.25em; }
  .small-block-grid-1 > li {
    width: 100%;
    padding: 0 0.625em 1.25em; }
  .small-block-grid-1 > li:nth-of-type(n) {
    clear: none; }
  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }
  .small-block-grid-2 > li {
    width: 50%;
    padding: 0 0.625em 1.25em; }
  .small-block-grid-2 > li:nth-of-type(n) {
    clear: none; }
  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }
  .small-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 0.625em 1.25em; }
  .small-block-grid-3 > li:nth-of-type(n) {
    clear: none; }
  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }
  .small-block-grid-4 > li {
    width: 25%;
    padding: 0 0.625em 1.25em; }
  .small-block-grid-4 > li:nth-of-type(n) {
    clear: none; }
  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }
  .small-block-grid-5 > li {
    width: 20%;
    padding: 0 0.625em 1.25em; }
  .small-block-grid-5 > li:nth-of-type(n) {
    clear: none; }
  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }
  .small-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 0.625em 1.25em; }
  .small-block-grid-6 > li:nth-of-type(n) {
    clear: none; }
  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }
  .small-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 0.625em 1.25em; }
  .small-block-grid-7 > li:nth-of-type(n) {
    clear: none; }
  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }
  .small-block-grid-8 > li {
    width: 12.5%;
    padding: 0 0.625em 1.25em; }
  .small-block-grid-8 > li:nth-of-type(n) {
    clear: none; }
  .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }
  .small-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 0.625em 1.25em; }
  .small-block-grid-9 > li:nth-of-type(n) {
    clear: none; }
  .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }
  .small-block-grid-10 > li {
    width: 10%;
    padding: 0 0.625em 1.25em; }
  .small-block-grid-10 > li:nth-of-type(n) {
    clear: none; }
  .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }
  .small-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 0.625em 1.25em; }
  .small-block-grid-11 > li:nth-of-type(n) {
    clear: none; }
  .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }
  .small-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 0.625em 1.25em; }
  .small-block-grid-12 > li:nth-of-type(n) {
    clear: none; }
  .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; } }

@media only screen and (min-width: 768px) {
  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: none; }
  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: none; }
  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: none; }
  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: none; }
  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: none; }
  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: none; }
  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: none; }
  .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: none; }
  .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: none; }
  .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: none; }
  .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: none; }
  .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: none; } }

button, .button {
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 0.75em 1.5em 0.8125em 1.5em;
  font-size: 1em;
  background-color: #23b27e;
  color: #fff;
  -webkit-appearance: none;
  border-radius: 4px 4px 4px;
  box-shadow: 0 8px #1b8760;
  transition: background-color 300ms ease-out; }
  button:hover, .button:hover {
    top: 2px;
    box-shadow: 0 6px #1b8760; }
  button:focus, button:hover, .button:focus, .button:hover {
    background-color: #1b8760;
    color: #fff; }
  button.large, .button.large {
    padding: 1.03125em 2em 1.03125em 2em;
    font-size: 1.25em; }
  button.small, .button.small {
    padding: 0.625em 1.125em 0.625em 1.125em;
    font-size: 0.8125em; }
  button.tiny, .button.tiny {
    padding: 0.4375em 0.875em 0.5em 0.875em;
    font-size: 0.6875em; }
  button.expand, .button.expand {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%; }
  button.left-align, .button.left-align {
    text-align: left;
    text-indent: 0.75em; }
  button.right-align, .button.right-align {
    text-align: right;
    padding-right: 0.75em; }

:active {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; }

@media only screen and (min-width: 768px) {
  button, .button {
    display: inline-block; } }

body {
  background: #fff; }

article {
  margin: 0 auto;
  padding: 30px 0; }

/* Header */
header[role="banner"] {
  background: white; }
  header[role="banner"] h1 {
    color: #656565;
    font-size: 2em;
    line-height: 1.16667em;
    margin: 1rem 0; }
  header[role="banner"] ul {
    margin: 1rem 0; }
  header[role="banner"] a {
    color: #23b27e;
    font-size: 2em;
    padding: 0 10px;
    text-decoration: none;
    transition: all 1s ease-in-out; }
  header[role="banner"] nav {
    float: right; }
    header[role="banner"] nav li {
      display: inline-block; }
    header[role="banner"] nav a:hover {
      color: #656565;
      -webkit-transform: rotate(60deg); }
      header[role="banner"] nav a:hover i {
        transform: rotate(70deg); }

/* Section */
#about {
  background: url(../img/sublime.JPG) 50% 0 repeat fixed;
  min-height: 300px;
  background-size: cover;
  height: auto;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative; }
  #about article {
    text-align: left; }
  #about li {
    color: #fff;
    padding: 0.5em; }
  #about h2 {
    text-align: left;
    color: #fff; }

#home {
  background: url(../img/sublime.jpg) 50% 0 repeat fixed;
  background: url(../img/banniere.png) 50% 0 repeat fixed;
  min-height: 300px;
  background-size: 50%;
  height: 300px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative; }
  #home article {
    height: 200px;
    top: 150px; }

#exp {
  background: url(../img/ordi.jpg) 50% 0 no-repeat fixed;
  min-height: 300px;
  height: 300px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  color: #fff; }
  #exp article {
    height: 200px;
    text-align: center;
    top: 150px;
    color: #fff; }
  #exp i, #exp h2 {
    color: #fff; }

#divers {
  background: url(../img/banniere.png) 50% 0 repeat-x fixed;
  min-height: 150px;
  height: 150px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative; }
  #divers article {
    height: 200px;
    text-align: center;
    top: 150px; }

#avatar {
  display: block;
  float: left;
  background-size: 280px;
  width: 200px;
  height: 200px;
  background-image: url(../img/lomo.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 100px;
  margin-bottom: 20px; }

/* Liste icone */
.big_icons {
  text-align: center; }
  .big_icons li {
    cursor: pointer; }
  .big_icons p {
    clear: both;
    display: block;
    margin-top: 20px; }
  .big_icons i {
    width: 33%;
    height: 33%;
    font-size: 4em;
    text-align: center;
    color: #b5b5b5;
    transition: all 1s; }
  .big_icons li:nth-child(2) span {
    color: #23b27e; }
  .big_icons li:nth-child(3) span {
    color: #23b27e; }

li.plus span {
  background: none;
  font-size: 4em;
  padding: 0;
  line-height: 2em; }
  li.plus span:hover {
    background: none; }

ul li ul li {
  text-align: left;
  list-style: square;
  padding: 5px; }

.center {
  text-align: center; }

.superbig {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  font-size: 80px;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  display: block;
  background: #23b27e;
  border-radius: 100px; }

.square {
  padding: 0; }

.square li {
  padding: 5px 0;
  line-height: 1.3em;
  display: block; }

.square li span {
  font-size: 1.2em;
  color: #656565; }

.square li .points {
  font-size: 50px;
  margin-bottom: 40px; }

.lighter {
  background: #f1f1f2; }

@media only screen and (max-width: 768px) {
  #btn_CV {
    margin: 65px 0 0 30px; }
  #home {
    background-size: 100%; }
  #title {
    width: 100%;
    text-align: center;
    margin: 0; }
  #social {
    position: relative;
    width: 100%; }
  #social ul {
    text-align: center;
    margin: 10px 0;
    padding: 0; }
  #social li {
    display: inline-block; }
  #social li a, #social li a i {
    font-size: 1.2em; } }

@media only screen and (max-width: 470px) {
  #avatar {
    margin: 0 auto;
    float: none; }
  #btn_CV {
    margin: 10px auto;
    display: block;
    width: 70%; } }
