h1 {
  color: #656565;
  font-family: "OpenSansLight";
  font-size: 5em; }

h1 b {
  font-family: "OpenSansRegular"; }

h2 {
  color: #23b27e;
  font-family: "OpenSansLight";
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  transition: all 1s; }
  @media (max-width: 768px) {
    h2 {
      font-size: 2em; } }

h2 span {
  padding: 0.5em; }

h3 {
  font-size: 1.5em; }

p {
  color: #656565;
  font-family: "OpenSansLight"; }

a {
  color: #23b27e; }

button, .button {
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 0.75em 1.5em 0.8125em 1.5em;
  font-size: 1em;
  background-color: #23b27e;
  color: #fff;
  -webkit-appearance: none;
  border-radius: 4px 4px 4px;
  box-shadow: 0 8px #1b8760;
  transition: background-color 300ms ease-out; }
  button:hover, .button:hover {
    top: 2px;
    box-shadow: 0 6px #1b8760; }
  button:focus, button:hover, .button:focus, .button:hover {
    background-color: #1b8760;
    color: #fff; }
  button.large, .button.large {
    padding: 1.03125em 2em 1.03125em 2em;
    font-size: 1.25em; }
  button.small, .button.small {
    padding: 0.625em 1.125em 0.625em 1.125em;
    font-size: 0.8125em; }
  button.tiny, .button.tiny {
    padding: 0.4375em 0.875em 0.5em 0.875em;
    font-size: 0.6875em; }
  button.expand, .button.expand {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%; }
  button.left-align, .button.left-align {
    text-align: left;
    text-indent: 0.75em; }
  button.right-align, .button.right-align {
    text-align: right;
    padding-right: 0.75em; }

:active {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; }

@media only screen and (min-width: 768px) {
  button, .button {
    display: inline-block; } }

header[role="banner"] {
  background: white; }
  header[role="banner"] article {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding: 1rem 0; }
    @media (max-width: 768px) {
      header[role="banner"] article {
        -ms-flex-direction: column;
            flex-direction: column; } }
  header[role="banner"] a {
    color: #23b27e;
    font-size: 2em;
    padding: 0 10px;
    text-decoration: none;
    transition: all 1s ease-in-out; }

.header-title {
  color: #656565;
  font-size: 2rem;
  line-height: 1.5rem;
  margin: 0; }
  .header-title span {
    font-size: 12px;
    line-height: 12px;
    font-family: 'OpenSansLightItalic'; }
  @media (max-width: 768px) {
    .header-title {
      width: 100%;
      text-align: center;
      margin: 0; } }

.header-social {
  margin-left: auto; }
  .header-social li {
    display: inline-block; }
  .header-social a:hover {
    color: #656565;
    -webkit-transform: rotate(60deg); }
    .header-social a:hover i {
      transform: rotate(70deg); }
  @media (max-width: 768px) {
    .header-social {
      position: relative;
      width: 100%; }
      .header-social ul {
        text-align: center;
        margin: 10px 0;
        padding: 0; }
        .header-social ul li {
          display: inline-block; }
          .header-social ul li a, .header-social ul li a i {
            font-size: 1.2em; } }

.hero {
  background: linear-gradient(135deg, #111111 40%, transparent 25%) -50px 0, linear-gradient(225deg, #222222 40%, transparent 25%) -50px 0, linear-gradient(315deg, #111111 25%, transparent 25%), linear-gradient(45deg, #222222 25%, transparent 25%);
  background-size: 200% 100%;
  background-attachment: fixed;
  background-color: #000;
  min-height: 300px;
  background-size: cover;
  height: auto;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  transition: background-color 1s; }
  .hero:hover {
    background-color: #0a3223; }
  .hero article {
    text-align: left; }
  .hero li {
    color: #fff;
    padding: 0.5em; }
  .hero h2 {
    text-align: left;
    color: #fff; }

.hero-photo {
  text-align: center;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%; }
  @media (min-width: 768px) {
    .hero-photo {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column; } }

.hero-resume {
  -ms-flex-preferred-size: 66%;
      flex-basis: 66%; }

#avatar {
  display: block;
  margin: 0 auto 20px;
  background-size: 280px;
  width: 200px;
  height: 200px;
  background-image: url(../img/lomo.jpg);
  background-repeat: no-repeat;
  background-position: 75% 50%;
  border-radius: 50%; }

@media only screen and (max-width: 470px) {
  #avatar {
    margin: 0 auto;
    float: none; }
  #btn_CV {
    margin: 10px auto;
    display: block;
    width: 70%; } }

.portfolio {
  background: url(../img/banniere.png) 50% 0 repeat fixed;
  min-height: 300px;
  background-size: 50%;
  height: 300px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  transition: background-size 1s; }
  .portfolio:hover {
    background-size: 55%; }
  .portfolio article {
    height: 200px;
    top: 150px; }
  @media (max-width: 768px) {
    .portfolio {
      background-size: 100%; }
      .portfolio:hover {
        background-size: 105%; } }

.exp-icon {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%; }

.exp-list {
  -ms-flex-preferred-size: 66%;
      flex-basis: 66%; }

.square {
  padding: 0; }

.square li {
  padding: 5px 0;
  line-height: 1.3em;
  display: block; }

.square li span {
  font-size: 1.2em;
  color: #656565; }

.square li .points {
  font-size: 50px;
  margin-bottom: 40px; }

.divers {
  background: linear-gradient(135deg, #111111 40%, transparent 25%) -50px 0, linear-gradient(225deg, #222222 40%, transparent 25%) -50px 0, linear-gradient(315deg, #111111 25%, transparent 25%), linear-gradient(45deg, #222222 25%, transparent 25%);
  background-size: 200% 100%;
  background-attachment: fixed;
  background-color: #000;
  min-height: 300px;
  height: 300px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  color: #fff;
  transition: background-color 1s; }
  .divers:hover {
    background-color: #0a3223; }
  .divers article {
    text-align: center;
    top: 150px;
    color: #fff; }
  .divers h2 {
    color: #fff; }

body {
  background: #fff;
  font-family: "OpenSansRegular";
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.row {
  max-width: 62.5em;
  margin: 0 auto;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center; }
  .row h2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex: 0 0 100%;
        flex: 0 0 100%; }

.column, .columns {
  position: relative;
  padding-left: .9375em;
  padding-right: .9375em; }

article {
  margin: 0 auto;
  padding: 30px 0; }

/* Liste icone */
.big_icons {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .big_icons p {
    clear: both;
    display: block;
    margin-top: 20px; }
  .big_icons a {
    width: 33%;
    height: 33%;
    font-size: 4em;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 1s; }
    .big_icons a:hover {
      color: #23b27e; }

ul li ul li {
  text-align: left;
  list-style: square;
  padding: 5px; }

.center {
  text-align: center; }

.superbig {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 80px;
  color: #fff;
  text-align: center;
  display: block;
  background: #23b27e;
  border-radius: 50%; }

.lighter {
  background: #f1f1f2; }

.icons-grid {
  display: -ms-flexbox;
  display: flex; }
  .icons-grid i {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    font-size: 3rem;
    color: #23b27e; }
