header[role="banner"] {
  background: white;
  h1 {
    color: $primary;
    font-size: 2rem;
    line-height: 1.5rem;
    margin:0;
    span {
      font-size: 12px;
      line-height: 12px;
      font-family : 'OpenSansLightItalic';
    }
  }

  a {
    color: $secondary;
    font-size: 2em;
    padding: 0 10px;
    text-decoration: none;
    transition: all 1s ease-in-out;
  }

  nav {
     margin-left : auto;
    li {
      display: inline-block;
    }

    a:hover {
      color: $primary;
      -webkit-transform: rotate(60deg);

      i {
        -webkit-transform: rotate(70deg);
        transform: rotate(70deg);
      }
    }
  }

  article {
        display : flex;
        align-items: center;
        padding: 1rem 0;
        @include media(">phone", "<=tablet") {
            flex-direction : column
        }
    }
}