header[role="banner"] {
  background: white;

  article {
    display : flex;
    align-items: center;
    padding: 1rem 0;
    @include media("<=tablet") {
        flex-direction : column
    }
  }

  a {
    color: $secondary;
    font-size: 2em;
    padding: 0 10px;
    text-decoration: none;
    transition: all 1s ease-in-out;
    }
}

.header-title {
    color: $primary;
    font-size: 2rem;
    line-height: 1.5rem;
    margin:0;
    span {
      font-size: 12px;
      line-height: 12px;
      font-family : 'OpenSansLightItalic';
    }

    @include media( "<=tablet") {
      width: 100%;
      text-align: center;
      margin: 0;
    }
}

.header-social {
  margin-left : auto;
  li {
    display: inline-block;
  }

  a:hover {
    color: $primary;
    -webkit-transform: rotate(60deg);

    i {
      -webkit-transform: rotate(70deg);
      transform: rotate(70deg);
    }
  }

  @include media( "<=tablet") {
    position: relative;
    width: 100%;

    ul {
      text-align: center;
      margin: 10px 0;
      padding: 0;
      li {
        display: inline-block;
        a, a i {
          font-size: 1.2em;
        }
      }
    }
  }
}