.hero {
  //background: url(../img/sublime.JPG) 50% 0 repeat fixed;
  background: 
  linear-gradient(135deg, #111111 40%, transparent 25%) -50px 0,
  linear-gradient(225deg, #222222 40%, transparent 25%) -50px 0,
  linear-gradient(315deg, #111111 25%, transparent 25%),
  linear-gradient(45deg, #222222 25%, transparent 25%);	
  background-size: 200% 100%;
  background-attachment: fixed;
  background-color: #000;
  min-height: 300px;
  background-size: cover;
  height: auto;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;

  transition: background-color 1s;

  &:hover {
    background-color : darken($secondary, 30%);
  }

  article {
    text-align: left;
  }

  li {
    color: #fff;
    padding: 0.5em;
  }

  h2 {
    text-align: left;
    color: #fff;
  }
}

.hero-photo {
    text-align: center;
    flex-basis: 33%;
    @include media(">=tablet") {
        display: flex;
        flex-direction : column  
    }
}

.hero-resume {
    flex-basis: 66%;
}

#avatar {
  display: block;
  margin: 0 auto 20px;
  background-size: 280px;
  width: 200px;
  height: 200px;
  background-image: url(../img/lomo.jpg);
  background-repeat: no-repeat;
  background-position: 75% 50%;
  border-radius: 50%;
}


@media only screen and (max-width: 470px) {
  #avatar {
    margin: 0 auto;
    float: none;
  }

  #btn_CV {
    margin: 10px auto;
    display: block;
    width: 70%;
  }
}